:root{
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

/*font-family: 'Karla', sans-serif;*/

.block{
    min-height:500px;
    width:600px;
    align-self:center;
    justify-items: center;
    align-items: center;
    position: absolute;
top: 50%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
width: 600px; /* Definimos el ancho del objeto a centrar */
height: 500px; /* Definimos el alto del objeto a centrar */
margin-top: -250px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -310px; /* Restamos la mitad de la anchura del objeto con un margin-left */
}

body{
    background: var(--light-gray);
    display:inline-block;
    font-family: Karla;
}

.up-div{
    padding:5%;
    background:white;
    width:100%;
    text-align: left;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.left{
    padding:5%;
    display:inline-flex;
    background: rgb(20, 163, 168);
    float: left;
    width:50%;
    border-bottom-left-radius: 12px;
}

.right{
    padding:5%;
    display:inline-flex;
    background: var(--cyan);
    float: left;
    width: 50%;
    height: 100%;
    text-align: left;
    border-bottom-right-radius: 12px;
}
.up-div-title{
    color:var(--cyan);
    font-weight:700;
}

.up-div-subtitle{
    color: var(--bright-yellow);
    font-weight: 700;
}

.up-div-text{
    color:var(--grayish-blue);
}

.left{
    color:white;
}

.left-title{
    font-weight: 700;
}

.price{
    font-weight: 700;
    font-size:30px;
    margin-right: 10px;
}

.p-m{
    font-weight: 400;
}

.button{
    margin-top:20px;
    width: 100%;
    padding:15px;
    background: var(--bright-yellow);
    border: none;
    box-shadow: 2px 2px 4px #000000;
    color:white;
}

.right-title{
    color:white;
    font-weight: 700;
}

.right-text{
    color:var(--light-gray)
}