:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body{
  background: gray;
  font-family: 'Karla', sans-serif;
}

.item{
  display: grid;
  justify-content: left;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 330px);
  grid-template-rows: repeat(2, 230px);
  margin-left: 300px;
  margin-top: 85px;
}

.item1{
  grid-column: span 2;
  background: white;
}

.title-item1{
  color:var(--cyan);
  font-weight: 700;
  font-size:30px;
}
.item2{
  background: var(--cyan);
}
.item3{
  background: skyblue;
}