:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*{
  font-family: Karla
}

body{
  background: #E6EFF6;
}

.item{
  display: grid;
  justify-content: left;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  /*grid-template-rows: 220px 250px;*/
  width: 50%;
  margin: auto;
  margin-top: 6%;
  /*box-shadow: 0px 1px 10px hsl(218, 22%, 67%);*/
}

.item1{
  grid-column: 1 / -1;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title-item1{
  color:var(--cyan);
  font-weight: 700;
  font-size:30px;
}
.sub-item1{
  font-weight: 700;
  color:var(--bright-yellow);
  font-size: 18px;
}
.text-item1{
  color:var(--grayish-blue);
  font-weight: 400;
}
.item2{
  background: #2AB2AF;
  padding: 5% 5% 5% 1%;
  /*border-bottom-left-radius: 10px;*/
}
.title-item2{
  color: white;
  font-weight: 700;
  font-size: 18px;
}
.price{
  color:white;
  font-weight: 700;
  font-size: 32px;
}
.price-time{
  color:rgb(198, 207, 200);
  font-weight: 400;
  font-size:18px;
  align-self: center;
  margin-left: 20px;
}
.text-item2{
  color: #AADEE4;
  font-weight: 400;
  font-size:17px
}
button{
  margin-top: 8px;
  width: 252.003px;
  padding: 13px;
  color:white;
  font-weight: 700;
  background: #BFDF32;
  border-style: none;
  border-radius: 5px;
  font-size:15px;
}
.item3{
  background: #4ABEBD;
  padding: 5% 5% 5% 1%;
  /*border-bottom-right-radius: 10px;*/
}
.title-item3{
  font-weight: 700;
  color:  #DFFEFE;
  font-size: 18px;
}
.text-item3{
  color: #AFF4F8;
  font-weight: 400;
  line-height: 21px;
}

/*Responsive part*/
/*
@media (max-width:1000px) {
  .container {
      width: 60%;
      margin:auto
  }
}
@media (max-width:850px) {
  .container {
      width: 40%;
      margin:50px;
      display: grid;
      grid-template-columns: 1fr;
  }
  .item1 {
      grid-column: 1/1;
  }
  .item2 {
      border-bottom-left-radius: 0;
  }
  .item3 {
      border-bottom-left-radius: 8px;
  }
}


@media (max-width:500px) {
  .container {
      width: 20%;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr;
  }
  .item1 {
      grid-column: 1/1;
  }
  .item2 {
      border-bottom-left-radius: 0;
  }
  .item3 {
      border-bottom-left-radius: 8px;
  }
}*/